{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul class="question-list">

        {% for question in questions %}
        <li>
            <div class="avatar-group">
                <img src="{{ url_for('static',filename='images/webLogo.gif') }}" alt="" class="avatar">
            </div>
            <div class="question-group">
                <p class="question-title"><a href="{{ url_for('detail',question_id=question.id) }}">{{ question.title }}</a></p>
                <div class="q-content" style="height:35px;overflow: hidden;text-overflow: ellipsis;">
{#                    jinja2不用|safe过滤器的话，会自动转义，在HTML中吧<p>空格等标签显示出来#}
                    <p class="question-content">{{ question.content|safe }}</p>
                </div>

                <div class="question-info">
                    <span class="question-author">{{ question.author.username }}</span>
                    <span class="question-time">{{ question.create_time }}</span>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
{% endblock %}