{% extends 'base.html' %}

{% block title %}
登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
{% endblock %}

{% block main %}
    <h3 class="loginTitle">登 录</h3>
    <form action="" method="post">
        {#        错误提示#}
        <div class="error_message">
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
        </div>
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入手机号码" name="telephone">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="请输入密码" name="password">
            </div>
            <div class="form-group">
                {#                <input type="submit" value="登录">#}
                <button class="btn btn-primary btn-block" style="width: 130px;float: left">登录</button>

            </div>
            <div class="form-group">
{#                这种格式只要不点在注册两个字上就不能正确跳转#}
{#                <button class="btn btn-default btn-block" style="width: 130px;float: right"><a href="{{ url_for('register') }}">注册</a></button>#}
                <a href="{{ url_for('register') }}" class="btn btn-default btn-block" role="button" style="width: 130px;float: right">注册</a>
            </div>
        </div>
    </form>
{% endblock %}